body{
    background-color: rgba(255, 255, 0, 0.6);
    background-image: url("../img/tranh-9.jpg");
    background-size: cover;
}
h1{color: #40a7ff;}
p{
    color:palevioletred;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    font-style: none;
    background-color: black;

    width: 800px;
}
a{
    text-decoration: underline;
}
